/* Correspond au corps de la page */
body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
  background-image: url('/static/fond.jpg');
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}

/* Correspond à la banière*/
header {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 100%;
}

header img {
  width: 80px;
  margin-right: 1rem;
  /* margin-left: 1rem; */
}

header h1 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 1rem;
}

nav a {
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
  transition: color 0.2s ease;
}

nav a:hover {
  color: #666;
}
  /* Correspond au conteneur principal */
  .container {
    max-width: 950px;
    margin: auto;
    padding: 30px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow-y: auto;
  }
  
  
  /* Correspond au titre principal */
  h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  /* Correspond au paragraphe principal */
  p {
    line-height: 1.5;
    margin-bottom: 20px;
  }
  