  /* Correspond au corps de la page */
body {
	background-color: #f4f4f4;
	font-family: Arial, sans-serif;
    background-image: url('/static/fond.jpg');
	background-repeat: repeat;
  }
  
  /* Correspond à la banière*/
  header {
	display: flex;
	/* justify-content: space-between; */
	align-items: center;
	padding: 1rem;
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  	}
  
	header img {
		width: 80px;
		margin-right: 1rem;
	}
	
	header h1 {
		margin: 0;
		font-size: 1.5rem;
		font-weight: bold;
	}
	
	nav ul {
		display: flex;
		list-style: none;
		margin: 0;
		padding: 0;
	}
	
	nav li {
		margin: 0 1rem;
	}
	
	nav a {
		text-decoration: none;
		color: #333;
		font-size: 1.2rem;
		transition: color 0.2s ease;
	}
	
	nav a:hover {
		color: #666;
	}

  /* Correspond au conteneur principal*/
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 30px;
}

  /* Correspond au texte principal*/
.header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 30px;
}

.header h1 {
	font-size: 36px;
	font-weight: bold;
	color: #333;
}

  /* Correspond à la box prix */
.box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .price-box {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
  }
  
  .price-box h2 {
    margin-top: 0;
    text-align: center;
  }
  
  .price-box p {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }

  /* Correspond aux éléments pour les destinations proposées */
.destinations {
	display: flex;
	flex-wrap: wrap;
}

.destination {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	background-color: #fff;
	padding: 30px;
	margin-bottom: 30px;
	border-radius: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}