<!DOCTYPE html>
<html>
<head>
	<title>Mon Site Web</title>
	<link rel="stylesheet" type="text/css" href="../static/accueil.css">
	<link rel="shortcut icon" href="../static/logo.png">
</head>
<body>
	<header>
	    <img src="{{ url_for('static', filename='../static/logo.png') }}" alt="Adventure Travel">
	    <nav>
	      <ul>
			<li><a href="/"><h1>Adventure Travel</h1></a></li>
			<li><a href="/comparateur">Comparateur de prix</a></li>
			<li><a href="/destinations">Destinations</a></li>
			<li><a href="/statistiques">Statistiques</a></li>
	      </ul>
	    </nav>
	</header>
	
	<div class="container" style="margin: 20px;">
		<h1> Adventure Travel, notre raison d'être</h1>
		<p> Nous avons eu l'envie de créer un comparateur qui fonctionne à l'inverse de Kayak ou autre comparateur de vols connus. <br>
			Notre objectif ? Proposer aux passionnés de voyages une solution intuitive et pratique, où il suffit simplement d'entrer son budget 
			maximal pour le vol et ainsi être redirigé vers toutes les destinations du monde entier, toujours à votre budget ! <br>
			Notre solution est destinée aux personnes passionnées par le voyage et n'ayant pas peur de découvrir de nouvelles cultures. 
			C'est ce que nous avons essayé de recréer avec Adventure Travel, qui permet également de prendre connaissance des statistiques suivant 
			les différentes destinations pour avoir une vue globale des tendances (jours où les billets sont les moins chers suivant la destination, 
			compagnies plus présentes que d'autres pour certaines destination etc).<br>

			<h3><b>Adventure Travel est pensé pour les aventuriers qui veulent à tout prix <br> (ou presque) partir !</b></h3> <br>
			
			Venez rejoindre l'aventure Adventure Travel :)
		</p>
		<div class="image">
			<img src="../static/logo.png" alt="logo">
		</div>
	</div>
</body>
</html>
