<!DOCTYPE html>
<html>
<head>
	<title>Mon Site Web</title>
	<link rel="stylesheet" type="text/css" href="../static/accueil.css">
</head>
<body>
	<header>
	    <img src="{{ url_for('static', filename='../static/logo.png') }}" alt="Adventure Travel">
	    <nav>
	      <ul>
			<li><a href="{{ url_for('accueil') }}"><h1>Adventure Travel</h1></a></li>
			<li><a href="{{ url_for('comparateur') }}">Comparateur de prix</a></li>
			<li><a href="{{ url_for('destinations') }}">Destinations</a></li>
			<li><a href="{{ url_for('statistiques') }}">Statistiques</a></li>
	      </ul>
	    </nav>
	</header>
	
	<div class="container" style="margin: 20px;">
		<h1> Adventure Travel, notre raison d'être</h1>
		<p>Nous avons eu l'envie de créer un comparateur qui fonctionne à l'inverse de Kayak ou autre comparateurs de vols connus. <br>
			Notre objectif ? Proposer aux passionnés de voyages une solution intuitive et pratique, où il suffit simplement d'entrer son budget 
			maximum pour le vol, et ainsi être redirigé vers toutes destinations accessibles dans le monde entier à votre budget ! <br>
			Ainsi, notre solution est destinée aux personnes passionné par le voyage et n'ayant pas peur de découvrir de nouvelles cultures. 
			Notre système est donc à l'inverse des autres comparateurs, pensé pour les aventuriers qui veulent à tout prix (ou presque) partir ! <br><br>
			C'est ce que nous avons essayer de recréer avec Adventure Travel, qui permet également de prendre connaissance des statistiques suivant 
			les différentes destinations pour voir de manière générale quels sont les jours de la semaine où les prix des billets sont les moins chers.<br><br>

			Voyager avec Adventure Travel, c'est voyager un maximum sans être démesuré ! <br><br>
			
			Venez rejoindre l'aventure Adventure Travel :)
		</p>
		<div class="image">
			<img src="../static/logo.png" alt="logo">
		</div>
	</div>
</body>
</html>
