<!DOCTYPE html>
<html>
<head>
	<title>Destinations pour le prix maximal de {{ prix }}$</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='comparateur_page2.css') }}">
	<link rel="shortcut icon" href="../static/logo.png">
</head>
<body>
	<header>
	    <img src="{{ url_for('static', filename='../static/logo.png') }}" alt="Adventure Travel">
	    <nav>
	      <ul>
	        <li><a href="/"><h1>Adventure Travel</h1></a></li>
			<li><a href="/comparateur">Comparateur de prix</a></li>
			<li><a href="/destinations">Destinations</a></li>
			<li><a href="/statistiques">Statistiques</a></li>
	      </ul>
	    </nav>
	</header>  
	<div class="container">
		<div class="header">
			<h1>Les destinations que nous vous proposons :</h1>
            <div class="box">
                <div class="price-box">
                    <p>Votre prix maximal :</p>
                    <h2>{{ prix }}$</h2>
                </div>
            </div>
		</div>

		<div class="destinations">

			{% for index, flight in enum %}
			<div class="destination">
				<div class="destination-info">
					<h3>{{collections_done[index]}}</h3>
				</div>
				<div class="arrival">
					<p>Date :</p>
					<h4>{{flight['date']}}</h4>
				</div>
				<div class="departure">
					<p>Heure de départ :</p>
					<h4>{{flight['departure']}}</h4>
				</div>
				<div class="arrival">
					<p>Heure d'arrivée :</p>
					<h4>{{flight['arrival']}}</h4>
				</div>
				<div class="company">
					<p>Compagnie :</p>
					<h4>{{flight['company']}}</h4>
				</div>
				<div class="duration">
					<p>Temps du trajet :</p>
					<h4>{{flight['duration']}}</h4>
				</div>
				<div class="price-box">
					<p>Prix :</p>
					<h4>{{flight['price']}}$</h4>
				</div>
            </div>
            {% endfor %}
		</div>
		</div>
</body>
</html>