<!DOCTYPE html>
<html>
<head>
	<title>Adventure Travel - Comparateur de prix</title>
	<link rel="stylesheet" type="text/css" href="../static/comparateur.css">
	<link rel="shortcut icon" href="../static/logo.png">
</head>
<body>
	<header>
	    <img src="{{ url_for('static', filename='../static/logo.png') }}" alt="Adventure Travel">
	    <nav>
	      <ul>
			<li><a href="/"><h1>Adventure Travel</h1></a></li>
			<li><a href="/comparateur">Comparateur de prix</a></li>
			<li><a href="/destinations">Destinations</a></li>
			<li><a href="/statistiques">Statistiques</a></li>
	      </ul>
	    </nav>
	</header>
	
	<div class="container" style="margin: 20px;">
		<h1> Votre prix, nos destinations</h1>
		<p>Veuillez remplir le formulaire ci-dessous avec votre prix maximal pour votre prochain voyage</p>
		
		<form action="{{ url_for("gfg")}}" method="post">
		    <label for="prix">Prix maximal pour votre vol :</label>
		    <input type="number" id="prix" name="prix" placeholder="Prix">
		    <button type="submit">Valider</button>
			<h4>{{error}}</h4>
		</form>
	</div>
</body>
</html>