<!DOCTYPE html>
<html>
<head>
    <title>Adventure Travel - Statistiques</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='statville.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='../static/logo.png') }}" alt="Adventure Travel">
        <nav>
          <ul>
            <li><a href="/"><h1>Adventure Travel</h1></a></li>
			<li><a href="/comparateur">Comparateur de prix</a></li>
			<li><a href="/destinations">Destinations</a></li>
			<li><a href="/statistiques">Statistiques</a></li>
          </ul>
        </nav>
    </header>
    <div class="container">
        <div class="destinations">

            <div class="header">
                <h1>Statistiques de Paris - {{ville}}</h1>
            </div>

        </div>
    </div>
</body>
</html>


